<?xml version="1.0"?>
<launch>

  <arg name="map_width" default="23" />
  <arg name="map_height" default="23" />

	<!-- TODO add any calls to your code -->
  <node pkg="simple_control" type="occupancy_grid.py" name="occupancy_grid_node" output="screen" />
  <node pkg="simple_control" type="doorDetection.py" name="door_detection_node" output="screen" />
</launch>